<div class="container" fxLayout 
                        fxLayout.xs="row"
                        fxLayoutAlign="center"
                        fxLayoutGap="30px"

>
        <div class="stats" fxFlex="10%">
                <div matBadge="{{commentsArray.length}}" matBadgeOverlap="false" matBadgeColor="primary">Posts</div>   
            
        </div>
        <div class="stats" fxFlex="30%">
        <div matBadge="{{membersArray.length}}" matBadgeOverlap="false" matBadgeColor="primary">Membres</div>   
                    
        </div>

</div>

