<div class="container" fxLayout 
                        fxLayout.xs="row"
                        fxLayoutAlign="center"
                        fxLayoutGap="30px"

>
        <div class="stats" fxFlex="10%">
                <div matBadge="{{commentsArray.length}}" matBadgeOverlap="false" matBadgeColor="primary">Posts</div>   
            
        </div>
        <div class="stats" fxFlex="30%">
        <div matBadge="{{membersArray.length}}" matBadgeOverlap="false" matBadgeColor="primary">Membres</div>   
                    
        </div>

</div>


<mat-nav-list dense *ngFor="let member of membersArray ">
    <a mat-list-item (click)="onSelect(member)">{{member.first_name}} {{member.pseudo}} <span *ngIf="!member.online" style="background-color: forestgreen">  *-* </span></a>
</mat-nav-list>

