<mat-tab-group>
  
    <mat-tab label="Login"> 
        <form #loginF="ngForm">
        <div class="example-container">
            <mat-form-field>
              <input matInput placeholder="Email" [(ngModel)]="userData.email" name="email"  [formControl]="email" required>
              <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput placeholder="Mot de passe" [(ngModel)]="userData.password" required name="password"  [type]="hide ? 'password' : 'text'">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              </mat-form-field>
              <br>
              <button mat-button color="primary" [disabled]="!loginF.form.valid" (click)="onLogin()">Se connecter</button>
        
          </div>
        </form>
    </mat-tab>
    <mat-tab label="Inscription"> 
      <app-register></app-register>
    </mat-tab>
  </mat-tab-group>
  



  