<div class="msg-container"
     [ngClass]="{'base-sent': !incoming, 'base-receive': incoming}">

  <div class="avatar"
       *ngIf="!incoming">
    <img src="{{commemt.authorPicture}}" width="48px">
  </div>

  <div class="messages"
    [ngClass]="{'msg-sent': !incoming, 'msg-receive': incoming}">
    <p>{{comment.content}}</p>
    <p class="time">{{comment.author}} • {{comment.date }}</p>
  </div>

  <div class="avatar"
       *ngIf="incoming">
    <img src="{{commemt.authorPicture}}">
  </div>
</div>