
  
  
  
  


 <app-header></app-header>

  
  <div class="container-main">
  <div class="member">
    <mat-card class="card">
        <mat-card-header>
            <img src=" {{user.picture}}" alt="">
          <mat-card-title>
            {{user.first_name}}
            {{user.last_name}}
                </mat-card-title>
          <mat-card-subtitle>
            {{user.pseudo}}
           
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
      </mat-card>
      

</div>
<div class="chat">
    <router-outlet></router-outlet> 
</div>



<div class="friends" *ngIf="!visitor || isAdmin" >

    <div class="request">
        <form class="example-form" #search="ngForm" >
        <mat-accordion class="example-headers-align">
          <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" >
            <mat-expansion-panel-header>
          
              <mat-panel-description>
               
                <mat-icon matTooltip="Recherche de membre" >search</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
        
            <mat-form-field>
              <input matInput placeholder="nom, prenom ou pseudo" name="name" [(ngModel)]="keyword.name" 
              >
            </mat-form-field>
            <button type="submit" mat-button color="primary" (click)="searchfriend()" >OK</button>

            <mat-list *ngFor="let member of resultList">
              
                <mat-list-item> 
                 <form class="example-form" >
                    <img src=" {{member.picture}}" alt=""> {{member.pseudo}} 
                    
                    <button matTooltip="Ajouter" type="submit" mat-button (click)="sendInvitationrequest(member)" ><i class="material-icons">
                        
                        </i></button>
                  </form>
                 </mat-list-item>
      
               </mat-list>
            
        
          
          </mat-expansion-panel>
        
          <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
            <mat-expansion-panel-header>
              
              <mat-panel-description   >
              
                <mat-icon  matTooltip="Liste des membres">people</mat-icon>
                <span matBadge=" {{membersNotFriends.length}}"  matBadgePosition="before" ></span>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list dense >
                <mat-list-item *ngFor="let member of membersNotFriends">
                    <img src="{{member.picture}}" alt="">  {{member.pseudo}} 
                    <button matTooltip="Ajouter" type="submit" mat-button (click)="sendInvitationrequest(member)" ><i class="material-icons">
                      person_add
                      </i></button>
                </mat-list-item>
            </mat-list>

          </mat-expansion-panel>
          
             <mat-card>
                 <mat-card-header>
                   
                     <mat-card-title><h4>Ami(e)s</h4></mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                     <mat-button-toggle-group name="status" aria-label="Font Style">
                        <mat-button-toggle (click)="all()"  matTooltip="Tous les status" value="demande">
                            <i  class="material-icons">
                                clear_all
                                </i></mat-button-toggle>

                        <mat-button-toggle  (click)="confirm()"     matTooltip="Confirmé" value="confirme"><i    class="material-icons" >done</i></mat-button-toggle>
                        <mat-button-toggle (click)="waiting()"  matTooltip="En attente de confirmation" value="attente"><i  class="material-icons" >arrow_left</i></mat-button-toggle>
                        <mat-button-toggle  (click)="send()"  matTooltip="Demande d'ami envoyée" value="demande"><i   class="material-icons" >arrow_right</i></mat-button-toggle>
                      </mat-button-toggle-group>
                      <p>
<span matBadge=" {{friends.length}}"  matBadgePosition="before" ></span>
                      </p>
                      

                

                    
              <mat-list dense>
                  <mat-list-item *ngFor="let friend of friends">

                  
                    <p >
                   
                    
                        <img class="picture" (click)="onSelect(friend.members)" src="{{friend.members.picture}}" alt="" style="width: 36px;" alt=""> {{friend.members.pseudo}} 
                        <span *ngIf="friend.status=='en attente de confirmation'"><i  (click)="acceptRequestInvitation(friend)" class="material-icons"> group_add</i></span>
                       <a *ngIf="friend.status=='confirmer'" (click)="chatRequest(friend)" >  <i  matTooltip="chat" class="material-icons" >chat</i></a>
                      
                    </p>

                  </mat-list-item> 

              </mat-list>
                 </mat-card-content>

             </mat-card>
        </mat-accordion>
      </form>
      </div>

<div class="chat">
  <h6 class="pb-2 mb-0">Group Chat <button class="btn btn-sm btn-primary" >invite others</button></h6>
  <div class="chats">
    <div class="chatbox">
      <div *ngFor="let chat of chats">
        <div class="message sent" *ngIf="chat.type!=='joined' && chat.isMe">
          {{chat.message}}
          <span class="metadata">
            <span class="time">{{chat.createdAt | date: 'HH:mm aaa'}}</span>
          </span>
        </div>
        <div class="message received"  *ngIf="chat.type!=='joined' && !chat.isMe">
          <strong>{{chat.displayName}}</strong> <br>
          {{chat.message}}
          <span class="metadata">
            <span class="time">{{chat.createdAt | date: 'HH:mm aaa'}}</span>
          </span>
        </div>
        <p align="center" class="joined"  *ngIf="chat.type==='joined'">
        <span class="rounded bg-primary text-white">{{chat.displayName}} Joined</span>
        </p>
      </div>
    </div>
  
    <div class="d-flex flex-row">
      <input [(ngModel)]="message" type="text" class="form-control" placeholder="Enter message" style="margin-right: 10px">
      <button [disabled]="!message || sending" (click)="sendMessage(message)" class="btn btn-primary"> {{sending ? 'Sending' : 'Send'}}</button>
    </div>
  </div>
  
  </div>
</div>

<div class="container">
   <mat-card  class="example-card">
      
       <mat-card-content>
          <form class="example-form" #commentF="ngForm" (submit)="posted();commentF.reset()" >
              <mat-form-field>
                <input matInput placeholder="titre du message" name="title" id="titre" [(ngModel)]="comment.title" required >
              </mat-form-field>
               <br>
              <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Poster un commentaire......" name="comment" [(ngModel)]="comment.content"></textarea>
              </mat-form-field>
               <br>
              <button type="submit" mat-mini-fab color="accent" [disabled]="!commentF.form.valid">Poster
              </button>
          </form>
       </mat-card-content>
   </mat-card>
     <p>{{message}}</p>
  <mat-card class="example-card" *ngFor="let comment of userComment">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <img src="{{comment.authorPicture}}" style="width: 46px;" alt="">
      </div>
      <mat-card-title>{{comment.author }} </mat-card-title>
      
    </mat-card-header>
    <h4> {{comment.title}}</h4>
   
    <mat-card-content>
      <p>
        {{comment.content}}
      </p>
    </mat-card-content>
    <mat-card-actions align="start">
      <button mat-button (click)="partager()"><mat-icon class="mat-18">share</mat-icon></button>
      
  </mat-card-actions>
  <mat-card-footer>
      <mat-card-subtitle> Posté le  {{ comment.date| date:'dd-MM-yyyy à HH:mm' }} </mat-card-subtitle>
   
  </mat-card-footer>
   
  </mat-card>
</div>

</div>


