

<div class="container">
  <h2 class="h4">Bienvenue sur le reseau social </h2>


  <section>

    <article *ngIf=isMember>
        <app-comments></app-comments>

    </article>

  </section>

  <section class="comments">

    <div class="commentaire" *ngFor="let comment of comments">
      <div class="card">
          <h5 class="card-header" style="background-color: #43A047">Titre: {{comment.title}}</h5>
        <div class="card-body">

        <p class="card-text">
          {{comment.content}}
        </p>
      </div>
      <p class="card-footer text-muted">Publié par {{comment.author}} le  {{comment.date| date:'dd-MM-yyyy HH:mm' }}</p>
      <a href="#"><i class="fas fa-comment"></i></a>
    </div>


    </div>

  </section>

</div>
