<div class="container">
  <h2 class="h4">Bienvenue sur le reseau social </h2>
  <section class="section-article">

    <article>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex odio consequuntur, perferendis sapiente, recusandae qui natus obcaecati exercitationem consectetur autem, minima ullam atque quisquam quis dolores doloremque quia animi iste.</p>

    </article>


    <article>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex odio consequuntur, perferendis sapiente, recusandae qui natus obcaecati exercitationem consectetur autem, minima ullam atque quisquam quis dolores doloremque quia animi iste.</p>

      </article>


    <article>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex odio consequuntur, perferendis sapiente, recusandae qui natus obcaecati exercitationem consectetur autem, minima ullam atque quisquam quis dolores doloremque quia animi iste.</p>

      </article>

  </section>

  <section class="section-article">

      <article>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex odio consequuntur, perferendis sapiente, recusandae qui natus obcaecati exercitationem consectetur autem, minima ullam atque quisquam quis dolores doloremque quia animi iste.</p>

      </article>

    </section>

    <section class="section-article">

        <article>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex odio consequuntur, perferendis sapiente, recusandae qui natus obcaecati exercitationem consectetur autem, minima ullam atque quisquam quis dolores doloremque quia animi iste.</p>

        </article>

      </section>

</div>
