  <!-- <div class="container">
    <div class="row">
    <form #register="ngForm" class="col s6">
    <div class="card-panel blue lighten-3">
    <h5>Créer un compte </h5>
   <div class="input-field" [class.has-error]="name.invalid && name.touched">
      <label for="name" >Nom</label>
      <input id="name" type="text" class="form-control" [(ngModel)]='user.last_name' name="last_name"  required #name="ngModel">
   </div>
    <div class="input-field">
        <label >Prenom</label>
        <input type="text" [(ngModel)]='user.first_name' name="first_name"  required >
    </div>
    <div class="input-field">
      <label >Email</label>
      <input type="email" [(ngModel)]='user.email' name="email"   required email   >
    </div>
    <div class="input-field">
      <label >Mot de passe</label>
      <input type="password" [(ngModel)]='user.password' name="password"  required >
    </div>
      <div class="input-field">
        <label >Pseudo</label>
        <input type="text" [(ngModel)]='user.pseudo' name="pseudo"  required >
      </div>
  <div class="input-field">
    <input type="date" [(ngModel)]='user.dateNaissance' name="dateNaissance" id="date"  required >
    <label for="date" >Date de naissance</label>
  </div>

  <p>
    <label>
      <input name="gender"  type="radio"  value="female" [(ngModel)]="user.gender"  />
      <span>Femme</span>
    </label>
  </p>
  <p>
    <label>
      <input name="gender"  type="radio"  value="male" [(ngModel)]="user.gender"  />
      <span>Homme</span>
    </label>
  </p>
      <div class="file-field input-field">
        <div class="btn">
          <span>Photo</span>
          <input type="file" accept="image/*" (change)="onFileSelected($event.target.files)" >
        </div>
        <div class="file-path-wrapper">
        <input class="file-path validate" type="text" >
        </div>
        <img [src]="imageUrl" style="width: 250px; height: 200px" alt="">
      </div>

        <button [disabled]="!register.form.valid" class="btn btn-success" (click)="registerUser()" routerLink="/userdata">S'enregistrer</button>
  </div>
      </form>
    </div>
  </div> -->

  <form #register="ngForm"class="example-form">
    
    
      <table class="example-full-width" cellspacing="20">
        <tr>
        <td><mat-form-field class="example-full-width">
          <input matInput [(ngModel)]='user.first_name' name="first_name"  required  placeholder="Prénom">
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
          <input matInput [(ngModel)]='user.last_name' name="last_name"  required  placeholder="Nom">
        </mat-form-field></td>
      </tr>
    
      <tr>
        <td>
            <mat-form-field>
                <input matInput placeholder="Email" [(ngModel)]="user.email" name="email"  [formControl]="email" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
        </td>
        <td>
            <mat-form-field>
                <input  #password minlength="6" matInput placeholder="Choix du mot de passe" [(ngModel)]="user.password" required name="password"  [type]="hide ? 'password' : 'text'">
                <mat-hint align="end">{{password.value.length}} / 6</mat-hint>
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
         </mat-form-field>
        </td>
      </tr>
  
       <tr>
         <td>
            <mat-form-field>
                <mat-select classe="example-form" placeholder="Genre" [(ngModel)]="user.gender" name="genre" value="user.gender" required>
                    <mat-option selected value="femme">Femme</mat-option>
                    <mat-option value="homme">Homme</mat-option>
                  </mat-select>
            </mat-form-field>
         </td>
          
         <td>
            <mat-form-field>
                <input matInput placeholder="Choix du pseudo" [(ngModel)]="user.pseudo" required name="pseudo">
                
         </mat-form-field>

         </td>


       </tr>
        
       
    
  
     <tr>
        <td><mat-form-field class="example-full-width">
          <input type="date" matInput placeholder="Date de Naissance" required>
        </mat-form-field></td>
    
      </tr>
    </table>
      
      <button mat-raised-button color="primary" [disabled]="!register.form.valid"  (click)="registerUser()" routerLink="/">S'enregistrer</button>

    </form>
    
