  <!-- <div class="container">
    <div class="row">
    <form #register="ngForm" class="col s6">
    <div class="card-panel blue lighten-3">
    <h5>Créer un compte </h5>
   <div class="input-field" [class.has-error]="name.invalid && name.touched">
      <label for="name" >Nom</label>
      <input id="name" type="text" class="form-control" [(ngModel)]='user.last_name' name="last_name"  required #name="ngModel">
   </div>
    <div class="input-field">
        <label >Prenom</label>
        <input type="text" [(ngModel)]='user.first_name' name="first_name"  required >
    </div>
    <div class="input-field">
      <label >Email</label>
      <input type="email" [(ngModel)]='user.email' name="email"   required email   >
    </div>
    <div class="input-field">
      <label >Mot de passe</label>
      <input type="password" [(ngModel)]='user.password' name="password"  required >
    </div>
      <div class="input-field">
        <label >Pseudo</label>
        <input type="text" [(ngModel)]='user.pseudo' name="pseudo"  required >
      </div>
  <div class="input-field">
    <input type="date" [(ngModel)]='user.dateNaissance' name="dateNaissance" id="date"  required >
    <label for="date" >Date de naissance</label>
  </div>

  <p>
    <label>
      <input name="gender"  type="radio"  value="female" [(ngModel)]="user.gender"  />
      <span>Femme</span>
    </label>
  </p>
  <p>
    <label>
      <input name="gender"  type="radio"  value="male" [(ngModel)]="user.gender"  />
      <span>Homme</span>
    </label>
  </p>
      <div class="file-field input-field">
        <div class="btn">
          <span>Photo</span>
          <input type="file" accept="image/*" (change)="onFileSelected($event.target.files)" >
        </div>
        <div class="file-path-wrapper">
        <input class="file-path validate" type="text" >
        </div>
        <img [src]="imageUrl" style="width: 250px; height: 200px" alt="">
      </div>

        <button [disabled]="!register.form.valid" class="btn btn-success" (click)="registerUser()" routerLink="/userdata">S'enregistrer</button>
  </div>
      </form>
    </div>
  </div> -->

  <form #register="ngForm"class="example-form">
    
    
      <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-form-field class="example-full-width">
          <input matInput [(ngModel)]='user.first_name' name="first_name"  required  placeholder="Prénom">
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
          <input matInput [(ngModel)]='user.last_name' name="last_name"  required  placeholder="Nom">
        </mat-form-field></td>
      </tr></table>
    
      <p>
          <mat-form-field>
              <input matInput placeholder="Email" [(ngModel)]="user.email" name="email"  [formControl]="email" required>
              <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            
      </p>
      <p>
          <mat-form-field>
              <input  #password minlength="6" matInput placeholder="Choix du mot de passe" [(ngModel)]="user.password" required name="password"  [type]="hide ? 'password' : 'text'">
              <mat-hint align="end">{{password.value.length}} / 6</mat-hint>
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
             <mat-form-field>
                <input matInput placeholder="Confirmez le mot de passe" required name="verifypassword"  [type]="hide ? 'password' : 'text'">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              </mat-form-field> 
      </p>
  
      <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-form-field class="example-full-width">
          <input type="date" matInput placeholder="Date de Naissance">
        </mat-form-field></td>
      
       
      </tr></table>
      
      <button [disabled]="!register.form.valid" class="btn btn-success" (click)="registerUser()" routerLink="/">S'enregistrer</button>

    </form>
    
